@charset "utf-8";
/* CSS Document */
h2
{
	margin:0;
	font-size: 50px;
	color: red;
}


#warnes
{
	font-family: warnes;
	font-size: 40px;
	float: left;
}

#orbitron
{
	font-family: orbitron;
	font-size: 40px;
	float: left;
}

#expletus
{
	font-family: Expletus+Sans;
	font-size: 40px;
	float: left;
}
