<ion-header-bar class="header">
    <h1 class="title">Contact Me</h1>
</ion-header-bar>

<ion-content>

	<div class="list card">
		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-checkmark-circled"></i>
			<a href="#">Resume</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-android-desktop"></i>
			<a href="http://michel-beaubien.com">Website</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-facebook"></i>
			<a href="https://www.facebook.com/michelBeaubienWeb/">Facebook</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-linkedin"></i>
			<a href="https://www.linkedin.com/in/michelbeaubien">LinkedIn</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-skype"></i>
			<p>MichelBeaubien53</p>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-instagram"></i>
			<a href="https://www.instagram.com/beaubienmichel/">Instagram</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-twitter"></i>
			<a href="https://twitter.com/Easy_Eatz">Twitter</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-youtube"></i>
			<a href="https://www.youtube.com/channel/UCHQVnotZxsBWkcIukTTXBlw">Youtube</a>
		</div>
	</div>

</ion-content>