<?php
    require_once('includes/redirect.php');

    if(isset($_POST['submit'])) {
        $name = $_POST['fullName'];
        $city = $_POST['city'];
        $tel = trim($_POST['telephone']);
        $email = trim($_POST['email']);
        $radio = $_POST['jobs'];
        $message = $_POST['message'];
        
        submitMessage($name, $city, $prov, $tel, $email, $radio, $message);
    }
?>

<ion-header-bar class="header">
    <h1 class="title">Contact Information</h1>
</ion-header-bar>

<ion-content>

	<div class="list card">

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-android-desktop"></i>
			<a href="http://michel-beaubien.com" target="onblank">Website</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-facebook"></i>
			<a href="https://www.facebook.com/michelBeaubienWeb/" target="onblank">Facebook</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-linkedin"></i>
			<a href="https://www.linkedin.com/in/michelbeaubien" target="onblank">LinkedIn</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-skype"></i>
			<p>MichelBeaubien53</p>
		</div>

		<div class="item item-divider">
			<h3>Contact Me</h3>
		</div>

<form name="contactMe" class="myForm"
novalidate form-manager
action="<?php echo $_SERVER['PHP_SELF']; ?>"
method="post">
		<div class="list list-inset">
			
			<label class="item item-input"> 
				<input ng-model="message.name"
				name="fullName" type="text"
				placeholder="Full Name" required
				ng-minlength="2" ng-maxlength="50">
			</label>

			<label class="item item-input"> 
				<input ng-model="message.tel"
				name="telephone" type="tel"
				placeholder="Telephone + Area Code" required
				ng-minlength="10" ng-maxlength="50">
			</label>

			<label class="item item-input"> 
				<input ng-model="message.city"
				name="city" type="text"
				placeholder="City" required
				ng-maxlength="50">
			</label>

			<label class="item item-input"> 
				<input ng-model="message.email"
				name="email" type="email"
				placeholder="Email Address" required
				ng-maxlength="50">
			</label>

			<label class="item item-input">
                <textarea ng-model="message.message"
                name="message" placeholder="Message"
                rows="3" required ng-minlength="2"
                ng-maxlength="70"></textarea>
            </label>

  			<div class="item item-divider item-text-wrap">
  				<h3>Selected Job: {{data.clientSide}}</h3>
  			</div>

  			<ion-radio ng-name="jobs" ng-repeat="job in jobs" ng-value="job.value" ng-model="data.clientSide">
  			{{job.text}}
  			</ion-radio>

  			<button class="button button-full" ng-click="submit()">
  				Send
  			</button>
		</div>
</form>

	</div>

</ion-content>