<ion-header-bar class="header">
    <h1 class="title">Contact Information</h1>
</ion-header-bar>

<ion-content>

	<div class="list card">
		<div class="item item-divider" data-ng-controller="fileTransfer">
			<h3>Hire Me</h3>
			<div class="item item-text-wrap item-icon-left">
				<i class="icon ion-checkmark-circled"></i>
				<a href="#" ng-click="testFileDownload()">Resume</a>
			</div>

			<div class="item item-text-wrap item-icon-left">
				<i class="icon ion-android-attach"></i>
				<a href="#">Business Card</a>
			</div>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-android-desktop"></i>
			<a href="http://michel-beaubien.com" target="onblank">Website</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-facebook"></i>
			<a href="https://www.facebook.com/michelBeaubienWeb/" target="onblank">Facebook</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-linkedin"></i>
			<a href="https://www.linkedin.com/in/michelbeaubien" target="onblank">LinkedIn</a>
		</div>

		<div class="item item-text-wrap item-icon-left">
			<i class="icon ion-social-skype"></i>
			<p>MichelBeaubien53</p>
		</div>

		<div class="item item-divider">
			<h3>Contact Me</h3>
		</div>

		<div class="list list-inset">
		<form action="" method="post">
			<label class="item item-input">
    			<input type="text" name="name" placeholder="Full Name">
  			</label>
  			<label class="item item-input">
    			<input type="tel" name="tel" placeholder="Telephone">
  			</label>
  			<label class="item item-input">
    			<input type="text" name="city" placeholder="City">
  			</label>
  			<label class="item item-input">
    			<input type="email" name="email"  placeholder="Email Address">
  			</label>

  			<label class="item item-input">
    			<textarea type="message" name="message" placeholder="Job Information"></textarea>
  			</label>

  			<div class="item item-divider item-text-wrap">
  				<h3>Selected Job Type: {{data.clientSide}}</h3>
  			</div>

  			<ion-radio ng-repeat="job in jobs" ng-value="job.value" ng-model="data.clientSide">
  			{{job.text}}
  			</ion-radio>

  			<button class="button button-full" type="submit" name="submit">
  				Send
  			</button>
		</form>
		</div>

	</div>

</ion-content>